<h1>New User Registration</h1>
<%= form_for @user do |f| %>
<p><%= f.label "Username" %></p>
<%= f.text_field "username" %>
<p><%= f.label "Password" %></p>
<%= f.password_field "password" %>
<p><%= f.label "Confirm Password"  %></p>
<%= f.password_field "password_confirmation" %>
<p><%= f.submit "Create User" %></p>
<% end %>
