
<h1 style="font-family:shakapow;text-align:center;font-size:40px;"><%=@user.username%> Profile Page</h1>

<ul style="list-style:none;font-size:40px;">
  <h3>Your Posts</h3>
<%@user.posts.each do |post| %>
  <li><%=link_to post.title, post_path(post)%><li>
<% end %>
</ul>
<br>

<h3>Previously Discussed</h3>


<div class="card-deck">
  <% @user.movies.each do |movie| %>
    <div class="card" style="width: 18rem;">
      <%= link_to movie_path(movie) do %>
        <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path%>" class="img-fluid" alt="movie-poster" alt="Card image cap" >
      <% end %>
      <div class="card-body">
        <p class="card-text"><%= movie.description %></p>
      </div>
    </div>
  <% end %>
</div>


<div style="float:right";>
<%= link_to "Create New Post", new_post_path, :class => "btn"  %>
</div>
