




<style>
body, html, .parallax {
  height: -webkit-fill-available;
}

.parallax {
    /* The image used */
    background-image: url("/assets/YPBnXKE.jpg");




    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
</style>


<div class="parallax">
  <br>
    <div style="text-align:center;background;background-color:wheat;border-radius: 5px;width:300px;height:autopx;margin:5rem auto;border: black solid 5px;" >
      <h1> Edit Post </h1>
      <%= form_for @post do |f| %>
      <p><%= f.label "Title:" %> </p>
      <p><%= f.text_field "title", class: :form_control %></p>
      <p><%= f.label "Content:" %></p>
      <p><%= f.text_area "content" %></p>
      <p><%= f.submit "submit" %></p>
      <% end %>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
