

<style>
.parallax {
    /* The image used */
    background-image: url("/assets/YPBnXKE.jpg");

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>

<!-- Container element -->

	<div class="parallax">
		


			<%=@movie.title%>
		<h2>Posted By: <%=@user.username%></h2>
		<%= @post.title %>
		<%= @post.content %>
		<br>
		<br>
		<h2><%= @post.comments.count %> comments</h2>
		<%= render @post.comments %>
		<h3>Add a comment</h3>
		<%= render "comments/form" %>




		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

	</div>
