
<style>
body, html, .parallax {
  height: 100%;
}

.parallax {
    /* The image used */
    background-image: url("/assets/marvel.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>

<!-- Container element -->

	<div class="parallax">
  <div class="media">
  <img class="align-self-start mr-3" src="https://image.tmdb.org/t/p/w500/<%= @post.movie.poster_path %>" alt="Generic placeholder image" id="movieposterrt">
  <div class="media-body">
    <h5 class="mt-0"><%=@movie.title%></h5>
    <ul style="list-style: none;">
      <li><%=@movie.description%></li>
      <br>
      <li><%=@movie.release_date%></li>
    </ul>
  </div>
  </div>




		Posted By: <%=@user.username%>
    <% if current_user == @user %>
    <%= link_to "Edit", edit_post_path(@post)  %>
    <% end %>
	   <%= @post.comments.count %> comments
		<%= render @post.comments %>
		  Add a comment
		<%= render "comments/form" %>
 </div>
  </html>
