
<style>
body, html, .parallax {
  height: 100%;
}

.parallax {
    background-image: url("/assets/marvel.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>

<!-- Container element -->

	<div class="parallax">
    <div class="card-deck">
      <%  @user.movies.each do |movie| %>
        <div class="card" style="width: 18rem;">
          <%= link_to movie_path(movie) do %>
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path%>" class="img-fluid" alt="movie-poster" alt="Card image cap" >
          <% end %>
          <div class="card-body">
            <p class="card-text"><%= movie.description %></p>
          </div>
        </div>
      <% end.uniq%>
    </div>

  </div>




		Posted By: <%=@user.username%>
    <% if current_user == @user %>
    <%= link_to "Edit", edit_post_path(@post)  %>
    <% end %>
	   <%= @post.comments.count %> comments
		<%= render @post.comments %>
		  Add a comment
		<%= render "comments/form" %>
 </div>
  </html>
