<!DOCTYPE html>
<html>
  <head>
    <title>SceneIt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav class="navbar sticky-top navbar-dark bg-black p-4">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse" id="navbarToggleExternalContent">
              <img src="http://3ftdnl1069l5338dm72frstc.wpengine.netdna-cdn.com/wp-content/uploads/2017/02/zVKjblJ-1-256x256.png">
              <% if current_user %>
              <a class="nav-item">Welcome <%= current_user.username %></a>
              <%= link_to "Home", root_path, class: "nav-item float-center" %>
              <%= link_to "Profile", user_path(current_user), class: "nav-item" %>
              <%= link_to "Movies", movies_path, class: "nav-item" %>
              <%= link_to 'Logout', logout_path, method: 'delete', class: "nav-item" %>
              <%else%>
              <%= link_to "Home", root_path, class: "nav-item float-center" %>
              <%= link_to "Movies", movies_path, class: "nav-item" %>
              <%= link_to "Login", login_path, class: "nav-item" %>
              <%= link_to "Register", new_user_path, class: "nav-item"%>

              <%end%>
        </div>
    </nav>
    <%=yield%>
  </header>
  <body>
  </body>
</html>
